# Ignorar carpeta de modelo y cache
app/modelo_roberta/
.cache/
cache/
*.safetensors
*.bin
model.safetensors
pytorch_model.bin

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/

# Cache de Hugging Face
cache/

# Archivos del sistema
.DS_Store
Thumbs.db
