fastapi
uvicorn[standard]
transformers
torch
spacy>=3.5.0
numpy>=1.24.0
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.5.0/es_core_news_sm-3.5.0-py3-none-any.whl